*.exe

tmp.*
*.out

# user
*.scene
*.ini
build/
user/
project/

# resources
*.hdr
scenes/

# vscode
.vscode/

# cmake
CMakeFiles/

# shader
*.spv
bloom_setup.comp.glsl
bloom_downsample.comp.glsl
bloom_upsample.comp.glsl