UseTab: Never
IndentWidth: 4
PointerAlignment: Left
# ReferenceAlignment: Left

AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: false
AlignConsecutiveMacros: true
AlignOperands: true
AlignTrailingComments: true
BreakBeforeBinaryOperators: None
ColumnLimit: 512
Cpp11BracedListStyle: false
# DeriveLineEnding: false
# IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: true
SortIncludes: true
SpaceAfterTemplateKeyword: false
# SpaceBeforeCpp11BracedList: false
# SpacesInParentheses: true
UseCRLF: true

AlignConsecutiveDeclarations: false

# Braces
BraceWrapping:
  AfterClass            : false
  AfterStruct           : false
  AfterControlStatement : false
  AfterEnum             : false
  AfterFunction         : false
  AfterNamespace        : false
  AfterUnion            : false
  BeforeElse            : false
BreakBeforeBraces: Custom

AlignAfterOpenBracket: true

ObjCBinPackProtocolList: Always
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true